*log
*lof
*synctex*
*toc
*out
*aux
*flymake*
*lot
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.pdf
#except cover
!/cover.pdf
#except image folder
!/images/*
.DS_Store
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
auto/*
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive