<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1611.6, 536.2}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-07-04 10:09:56 +0100</string>
	<key>Creator</key>
	<string>Nelson Gonçalves</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>119</integer>
			<key>Points</key>
			<array>
				<string>{780.8, 71}</string>
				<string>{786.949, 202.008}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>113</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{792.72, 52}, {13.08, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>114</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Y}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{755.8, 21}, {50, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>113</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{665.92, 52}, {13.08, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>112</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 X}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{629, 21}, {50, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>111</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{423.92, 52}, {13.08, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>110</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Y}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{107.92, 52}, {13.08, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>109</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 X}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>101</integer>
			</dict>
			<key>ID</key>
			<integer>107</integer>
			<key>Points</key>
			<array>
				<string>{652.453, 71}</string>
				<string>{628.351, 204.008}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{478, 340}, {63.5, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>104</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Merge\
Operation}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>25</integer>
					<key>Points</key>
					<array>
						<string>{505, 324}</string>
						<string>{505, 324}</string>
						<string>{510.585, 323.284}</string>
						<string>{515.781, 321.996}</string>
						<string>{520.509, 320.189}</string>
						<string>{524.679, 317.916}</string>
						<string>{528.212, 315.235}</string>
						<string>{531.022, 312.194}</string>
						<string>{533.025, 308.853}</string>
						<string>{533.266, 300.104}</string>
						<string>{534.138, 235.661}</string>
						<string>{534.138, 235.661}</string>
						<string>{535.248, 232.071}</string>
						<string>{537.254, 228.727}</string>
						<string>{540.061, 225.689}</string>
						<string>{543.594, 223.005}</string>
						<string>{547.767, 220.733}</string>
						<string>{552.492, 218.927}</string>
						<string>{557.69, 217.639}</string>
						<string>{563, 217}</string>
					</array>
					<key>Rotation</key>
					<real>270</real>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>ShadowVector</key>
							<string>{8.50394, 8.50394}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>PointAtLeast</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>1.440000057220459</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>26</integer>
					<key>Points</key>
					<array>
						<string>{505, 110}</string>
						<string>{505, 110}</string>
						<string>{510.585, 110.716}</string>
						<string>{515.781, 112.004}</string>
						<string>{520.509, 113.811}</string>
						<string>{524.679, 116.084}</string>
						<string>{528.212, 118.766}</string>
						<string>{531.022, 121.806}</string>
						<string>{533.025, 125.148}</string>
						<string>{533.266, 133.896}</string>
						<string>{534.138, 198.339}</string>
						<string>{534.138, 198.339}</string>
						<string>{535.248, 201.929}</string>
						<string>{537.254, 205.272}</string>
						<string>{540.061, 208.312}</string>
						<string>{543.594, 210.995}</string>
						<string>{547.767, 213.268}</string>
						<string>{552.492, 215.073}</string>
						<string>{557.69, 216.361}</string>
						<string>{563, 217}</string>
					</array>
					<key>Rotation</key>
					<real>270</real>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>ShadowVector</key>
							<string>{8.50394, 8.50394}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>PointAtLeast</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>1.440000057220459</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{598, 247.5}, {7, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>91</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 0}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{901, 247.5}, {37, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>92</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 N}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{782, 217.5}, {10, 10}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>12</real>
							</dict>
							<key>ID</key>
							<integer>94</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{620, 217.5}, {10, 10}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>12</real>
							</dict>
							<key>ID</key>
							<integer>95</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{868, 204.5}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>96</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{814, 204.5}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>97</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{760, 204.5}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>98</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{706, 204.5}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>99</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{652, 204.5}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>100</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{598, 204.5}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>101</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>93</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>90</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{190, 310}, {97, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>89</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Gate Counter C}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{190, 226}, {97, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>88</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Gate Counter B}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{190, 153}, {97, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>87</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Gate Counter A}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>86</integer>
			<key>Points</key>
			<array>
				<string>{412, 71}</string>
				<string>{327.547, 267.613}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>80</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>43</integer>
			</dict>
			<key>ID</key>
			<integer>84</integer>
			<key>Points</key>
			<array>
				<string>{412, 71}</string>
				<string>{306, 110}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>80</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>66</integer>
			</dict>
			<key>ID</key>
			<integer>83</integer>
			<key>Points</key>
			<array>
				<string>{96, 71}</string>
				<string>{153.494, 182.556}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>79</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>78</integer>
			</dict>
			<key>ID</key>
			<integer>82</integer>
			<key>Points</key>
			<array>
				<string>{96, 71}</string>
				<string>{157.215, 266.523}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>79</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{387, 21}, {50, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>80</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{71, 21}, {50, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>79</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{136, 310}, {7, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>68</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 0}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{439, 310}, {37, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>69</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 N}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{320, 280}, {10, 10}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>12</real>
							</dict>
							<key>ID</key>
							<integer>71</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{158, 280}, {10, 10}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>12</real>
							</dict>
							<key>ID</key>
							<integer>72</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{406, 267}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>73</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{352, 267}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>74</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{298, 267}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>75</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{244, 267}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>76</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{190, 267}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>77</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{136, 267}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>78</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>70</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>67</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{136, 226}, {7, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>56</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 0}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{439, 226}, {37, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>57</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 N}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{158, 196}, {10, 10}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>12</real>
							</dict>
							<key>ID</key>
							<integer>60</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{406, 183}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>61</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{352, 183}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>62</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{298, 183}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>63</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{244, 183}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>64</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{190, 183}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>65</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{136, 183}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>66</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>58</integer>
				</dict>
			</array>
			<key>GroupConnect</key>
			<string>YES</string>
			<key>ID</key>
			<integer>55</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{136, 153}, {7, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>44</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 0}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{439, 153}, {37, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>45</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 N}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{320, 123}, {10, 10}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>12</real>
							</dict>
							<key>ID</key>
							<integer>47</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{406, 110}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>49</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{352, 110}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>50</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{298, 110}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>51</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{244, 110}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>52</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{190, 110}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>53</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{136, 110}, {54, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>54</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>46</integer>
				</dict>
			</array>
			<key>GroupConnect</key>
			<string>YES</string>
			<key>ID</key>
			<integer>43</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-07-04 12:09:37 +0100</string>
	<key>Modifier</key>
	<string>Nelson Gonçalves</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{841.8, 595.2}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{179, 274}, {1073, 878}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{59, -86}, {938, 709}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
